* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

/* 
red: #846075;
yellow: #F4EDE1; 
blue: #4E7093

Basic Sans Regular
    font-family: "basic-sans", sans-serif;
    font-weight: 400;
    font-style: normal;

Basic Sans Bold
    font-family: "basic-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
*/

/* HOMEPAGE --------------------- */

.heropicture {
    position: fixed;
    z-index: -10;
    height: 100vh;
    width: 100vw;  
    object-fit: fill;
}

.scene-buttons-container {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99999999;
}

.scene-button {
    width: 245px;
    height: 245px;
    background-color: #F4EDE1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scene-button a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 4rem;
    color: #846075;
    border-radius: 100%;
}

.scene1 a:hover {
    background-image: url('static/images/EggliThumbnail.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

.garden a:hover {
    background-image: url('static/images/WolfhaldenThumbnail.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    opacity: 100%;
}

.workshop a:hover {
    background-image: url('static/images/GardenThumbnail.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}


/* INTRODUCTION --------------------- */

.slider-container {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60%;
    height: 70%;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.slider-container h2 {
    font-family: "basic-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #404040;
}
video {
    width: 80%;
    border-radius: 10px;
}
.controls {
    width: 80%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.controls>div {
    width: 30%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

button {
    padding: 10px 20px;
    scale: 1.2;
    border: none;
    background: #4E7093;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-family: "basic-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.skipBtn {
    color: #4E7093;
    background-color: rgba(255, 255, 255, 0);
    text-decoration: underline;
}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
}


/* NAVIGATION --------------------- */

.navigation-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.3s ease-in-out;
}

.navigation {
    width: 1088px;
    height: 114px;
    background-color: rgba(255, 255, 255, 0.600);
    border-radius: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation-switch,
.navigation-switch-right {
    z-index: 10;
    position: absolute;
    width: 502px;
    height: 85px;
    border-radius: 40px;
    background-color: white;
}

.navigation-switch {
    transform: translateX(-55%);
}

.navigation-switch-right {
    transform: translateX(55%);
}

.navigation a {
    font-size: 2rem;
    color: #4E7093;
    font-family: "basic-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    z-index: 999999;
}

/* VR BUTTON ANGEPASST --------------------- */

button.a-enter-vr {
    font-size: 50px !important;
    width: 300px !important;
    height: 300px !important;
    padding: 30px !important;
    border-radius: 20px !important;
    transform: scale(2) !important;
  }